package ${package_manager};

import ${package_pojo}.${Table};
import ${package_query}.${Table}Query;

import java.util.List;

/**
 * (${Table})管理类
 *
 * @author ${author} 
 * @date ${cdate}
 * @since 1.0
 */
public interface ${Table}Manager {

    /**
     * 插入一条纪录
     *
     * @param ${table}
     * @return long
     * @author ${author} 
     * @date ${cdate} 
     */
    long insert(${Table} ${table});


    /***
     * 批量插入记录
     * @param ${table}s
     */
    void batchInsert(List<${Table}> ${table}s);

    /**
     * 更新一条纪录
     *
     * @param ${table}
     * @return int
     * @author ${author} 
     * @date ${cdate} 
     */
    int update(${Table} ${table});

    /**
     * 根据主键删除一条记录
     *
     * @param id
     * @return int
     * @author ${author} 
     * @date ${cdate} 
     */
    int deleteById(Long id);

    /**
     * 根据查询条件 查询list
     *
     * @param query
     * @return java.util.List<${package_pojo}.${Table}>
     * @author ${author} 
     * @date ${cdate} 
     */
    List<${Table}> queryForList(${Table}Query query);

    /**
     * 根据查询条件 查询 list （分页）
     *
     * @param query
     * @return java.util.List<${package_pojo}.${Table}>
     * @author ${author} 
     * @date ${cdate} 
     */
    List<${Table}> queryForPage(${Table}Query query);

    /**
     * 根据查询条件 查询实体数量
     *
     * @param query
     * @return int
     * @author ${author} 
     * @date ${cdate} 
     */
    int queryForCount(${Table}Query query);

    /**
     * 根据查询条件 查询实体
     *
     * @param id
     * @return ${package_pojo}.${Table}
     * @author ${author} 
     * @date ${cdate} 
     */
    ${Table} getEntityById(Long id);

    
}

